.u-section-1 {
  background-image: url("images/bg-02.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 552px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 455px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 349px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 262px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 165px;
  }
}.container-login100 {
width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.limuter{
 width: 100%;
  margin: 0 auto;
}
.wrap-login100 {
width: 500px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
}
.login100-form-title {
  display: block;
  font-family: Poppins-Bold;
  font-size: 39px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
}
.login100-form {
  width: 100%;
}
.validate-input {
  position: relative;
}
.label-input100 {
  font-family: Poppins-Regular;
  font-size: 16px;
  color: #333333;
  line-height: 1.5;
  padding-left: 7px;
}
.input100 {
  /*font-family: Poppins-Medium;*/
  font-size: 16px;
  color: #333333;
  line-height: 1.2;
  display: block;
  width: 100%;
  height: 40px;
  background: transparent;
  padding: 0 7px 0 43px;
}
.focus-input100 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}
.wrap-input100 {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #d9d9d9;
}
.container-login100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.wrap-login100-form-btn {
  width: 100%;
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 25px;
  overflow: hidden;
  margin: 0 auto;
  box-shadow: 0 5px 30px 0px rgba(3, 216, 222, 0.2);
  -moz-box-shadow: 0 5px 30px 0px rgba(3, 216, 222, 0.2);
  -webkit-box-shadow: 0 5px 30px 0px rgba(3, 216, 222, 0.2);
  -o-box-shadow: 0 5px 30px 0px rgba(3, 216, 222, 0.2);
  -ms-box-shadow: 0 5px 30px 0px rgba(3, 216, 222, 0.2);
}
.login100-form-bgbtn {
  position: absolute;
  z-index: -1;
  width: 300%;
  height: 100%;
  background: #7f7c81;
  background: -webkit-linear-gradient(right, #a1a3a3, #534d53, #000000, #474147);
  background: -o-linear-gradient(right, #a1a3a3, #534d53, #000000, #474147);
  background: -moz-linear-gradient(right, #a1a3a3, #534d53, #000000, #474147);
  background: linear-gradient(right, #a1a3a3, #534d53, #000000, #474147);
  top: 0;
  left: -100%;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
.login100-form-btn {
  font-family: Poppins-Medium;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 50px;
}
.flex-col-c {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	-ms-align-items: center;
	align-items: center;
}
.p-t-50 {padding-top: 50px;}
.text-right {text-align: right;}
.p-t-8 {padding-top: 8px;}
.p-b-50 {
padding-bottom: 50px;
}
.m-b-15 {
margin-bottom: 15px;
}
.p-b-22 {
padding-bottom: 22px;
}
.p-b-30 {
padding-bottom: 30px;
}
.p-t-25 {
padding-top: 25px;
}
.p-r-50 {
padding-right: 50px;
}
.p-l-50 {
padding-left: 50px;
}